<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />
    <title>Insurance Cost Prediction</title>
</head>

<body>
    <div class="container">
        <form action="/predict" method="post" class="container__form">
           <h1 class="container__title">Insurance Cost Prediction</h1>
           <hr>

           <div class="container__content">
              <div class="container__box">

                 <div class="container__box-input">
                    <label for="Age" class="container__label">Age:</label>
                    <input type="text" required class="container__input" id="container-age" name="age" placeholder=" ">
                 </div>

                 <div class="container__box-input">
                    <label for="sex" class="container__label">Gender (0-Male, 1-Female):</label>
                    <input type="text" required class="container__input" id="container-sex" name="sex" placeholder=" ">
                 </div>

                 <div class="container__box-input">
                    <label for="BMI" class="container__label">BMI:</label>
                    <input type="text" required class="container__input" id="container-bmi" name="bmi" placeholder=" ">
                 </div>

                 <div class="container__box-input">
                    <label for="children" class="container__label">Number of Children:</label>
                    <input type="text" required class="container__input" id="container-children" name="children" placeholder=" ">
                 </div>

                 <div class="container__box-input">
                    <label for="smoker" class="container__label">Smoker (0-Yes, 1-No):</label>
                    <!-- <br><br><br><br> -->
                    <input type="text" required class="container__input" id="container-smoker"name="smoker" placeholder=" ">
                 </div>

                 <div class="container__box-input">
                    <label for="region" class="container__label">Region (0-Southeast, 1-Southwest, 2-Northeast, 3-Northwest):</label>
                    <input type="text" required class="container__input" id="container-region" name="region" placeholder=" ">
                 </div>
              </div>
           </div>
            
        <button type="submit" class="container__button">Submit</button>
    </form>
    <form action="/data" method="get" class="container__form">
      <button type="submit" class="container__button">Premium Version</button>
    </form>
    {% if show_result %}
        <h2 class="predict">Predicted Insurance Cost: {{ prediction }}</h2>
    {% endif %}
    </div>
    
</body>

</html>
